**Assignment 3 - Descriptive Statistics: Measures of Central Tendency and variability**

Perform the following operations on any open source dataset (e.g., data.csv):
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical
variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of 'Iris-setosa', 'Iris-versicolor' and 'Iris-versicolor' of iris.csv dataset.

Provide the codes with outputs and explain everything that you do in this step.

---

**Code**

In [1]:
import pandas

In [2]:
d = pandas.read_csv("medical-insurance.csv")
d

            age     sex        bmi smoker     region  children       charges
0     21.000000    male  25.745000     no  northeast         2   3279.868550
1     36.976978  female  25.744165    yes  southeast         3  21454.494239
2     18.000000    male  30.030000     no  southeast         1   1720.353700
3     37.000000    male  30.676891     no  northeast         3   6801.437542
4     58.000000    male  32.010000     no  southeast         1  11946.625900
...         ...     ...        ...    ...        ...       ...           ...
3625  48.820767  female  41.426984     no  northwest         4  10987.324964
3626  38.661977  female  26.202557     no  southeast         2  11735.844352
3627  56.000000    male  40.300000     no  southwest         0  10602.385000
3628  48.061207  female  34.930624     no  southeast         1   8976.140452
3629  37.598865  female  25.219233     no  northeast         3   7027.698968

[3630 rows x 7 columns]

In [3]:
d.isnull().sum()

age         0
sex         0
bmi         0
smoker      0
region      0
children    0
charges     0
dtype: int64

In [4]:
d.dtypes

age         float64
sex          object
bmi         float64
smoker       object
region       object
children      int64
charges     float64
dtype: object

In [5]:
d.describe()

               age          bmi     children       charges
count  3630.000000  3630.000000  3630.000000   3630.000000
mean     38.887036    30.629652     2.503581  12784.808644
std      12.151029     5.441307     1.712568  10746.166743
min      18.000000    15.960000     0.000000   1121.873900
25%      29.000000    26.694526     1.000000   5654.818262
50%      39.170922    30.200000     3.000000   9443.807222
75%      48.343281    34.100000     4.000000  14680.407505
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
d.groupby("sex").describe().transpose()

sex                   female          male
age      count   1601.000000   2029.000000
         mean      40.976163     37.238593
         std       12.170010     11.882420
         min       18.000000     18.000000
         25%       31.000000     27.711806
         50%       43.000000     36.984783
         75%       49.703786     46.000000
         max       64.000000     64.000000
bmi      count   1601.000000   2029.000000
         mean      30.698342     30.575453
         std        5.557757      5.348386
         min       17.195000     15.960000
         25%       26.699721     26.681147
         50%       30.248885     30.116677
         75%       34.320000     33.989676
         max       48.070000     53.130000
children count   1601.000000   2029.000000
         mean       2.219863      2.727452
         std        1.603630      1.762289
         min        0.000000      0.000000
         25%        1.000000      1.000000
         50%        2.000000      3.000000
         75%        4.000000      4.000000
         max        5.000000      5.000000
charges  count   1601.000000   2029.000000
         mean   11663.481779  13669.601305
         std     9154.476211  11779.296673
         min     1615.766700   1121.873900
         25%     5972.378000   5514.509893
         50%     9916.595977   8953.504400
         75%    12680.191480  18303.140256
         max    63770.428010  62592.873090

In [7]:
d.groupby("region").describe().transpose()

region             northeast     northwest     southeast     southwest
age      count    848.000000    911.000000   1021.000000    850.000000
         mean      38.397387     40.928099     39.822278     36.064605
         std       11.669509     12.201111     11.389905     12.887765
         min       18.000000     18.013948     18.000000     18.204880
         25%       29.508512     30.826418     31.000000     24.961677
         50%       37.000000     44.000000     40.909531     33.000000
         75%       47.000000     49.714250     46.269558     46.000000
         max       64.000000     64.000000     64.000000     64.000000
bmi      count    848.000000    911.000000   1021.000000    850.000000
         mean      30.259984     30.765832     31.238881     30.120708
         std        5.332342      5.211252      6.083480      4.874090
         min       15.960000     17.385000     18.807104     17.400000
         25%       26.507726     27.083459     26.539646     26.612996
         50%       30.048054     30.590000     30.306367     29.792903
         75%       33.707910     34.439665     35.200000     33.110535
         max       48.070000     44.407511     53.130000     47.600000
children count    848.000000    911.000000   1021.000000    850.000000
         mean       2.260613      2.243688      2.690500      2.800000
         std        1.537184      1.416504      1.868259      1.890401
         min        0.000000      0.000000      0.000000      0.000000
         25%        1.000000      1.000000      1.000000      1.000000
         50%        2.000000      2.000000      3.000000      3.000000
         75%        4.000000      4.000000      5.000000      5.000000
         max        5.000000      5.000000      5.000000      5.000000
charges  count    848.000000    911.000000   1021.000000    850.000000
         mean   14971.019505  11985.709166  13655.955548  10413.787260
         std    10816.756476   9344.957949  12203.307730   9610.831096
         min     1694.796400   1621.340200   1121.873900   1241.565000
         25%     6723.553524   5827.362306   6123.998544   5020.277438
         50%    11615.296973  10788.741499   9360.924005   6722.514131
         75%    20099.735453  12491.682753  14249.395265  11666.393368
         max    58571.074480  60021.398970  63770.428010  52590.829390

In [8]:
d.groupby("smoker").describe().transpose()

smoker                    no           yes
age      count   3070.000000    560.000000
         mean      38.749200     39.642676
         std       12.056252     12.642446
         min       18.000000     18.000000
         25%       28.850691     29.378012
         50%       39.000000     40.265729
         75%       48.230206     49.257962
         max       64.000000     64.000000
bmi      count   3070.000000    560.000000
         mean      30.522949     31.214616
         std        5.311647      6.075361
         min       15.960000     17.195000
         25%       26.694645     26.666500
         50%       30.075812     30.887500
         75%       33.864897     35.497344
         max       53.130000     52.580000
children count   3070.000000    560.000000
         mean       2.637785      1.767857
         std        1.751340      1.248843
         min        0.000000      0.000000
         25%        1.000000      1.000000
         50%        3.000000      2.000000
         75%        4.000000      3.000000
         max        5.000000      5.000000
charges  count   3070.000000    560.000000
         mean    9218.346820  32336.661853
         std     5635.747702  11067.969069
         min     1121.873900  12829.455100
         25%     5246.534327  21326.373987
         50%     8489.404511  34644.993925
         75%    11346.482104  41332.530424
         max    40160.789435  63770.428010